ClaimsSystem/Service References/ServiceReference1/Claims1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Get_ChargeSlip_Body">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_Parameter" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_ChargeSlip_BodyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Get_ChargeSlip_BodyResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_ChargeSlip_Head">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_Parameter" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_ChargeSlip_HeadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Get_ChargeSlip_HeadResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_CompanyList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_Parameter" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_CompanyListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Get_CompanyListResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_EmployeeList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_Parameter" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_EmployeeListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Get_EmployeeListResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Group_Rights">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_Parameter" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Group_RightsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Get_Group_RightsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Logistics_BodyReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_Parameter" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Logistics_BodyReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Get_Logistics_BodyReportResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Logistics_HeaderReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_Parameter" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Logistics_HeaderReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Get_Logistics_HeaderReportResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Modules">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_Parameter" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_ModulesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Get_ModulesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Qa_Report">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_Parameter" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Qa_ReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Get_Qa_ReportResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Qa_Report_Imglnk">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_Parameter" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Qa_Report_ImglnkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Get_Qa_Report_ImglnkResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_SupplierList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_Parameter" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_SupplierListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Get_SupplierListResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Tall_Report">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_Parameter" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Tall_ReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Get_Tall_ReportResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_User_Accounts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_Parameter" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_User_AccountsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Get_User_AccountsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_User_Groups">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_Parameter" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_User_GroupsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Get_User_GroupsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Cod">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_Parameter" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_CodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Get_CodResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_NoticeToExplain_Body">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_Parameter" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_NoticeToExplain_BodyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Get_NoticeToExplain_BodyResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_NoticeToExplain_Head">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_Parameter" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_NoticeToExplain_HeadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Get_NoticeToExplain_HeadResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Set_ChargeSlip_Body">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CSBodyID" type="xs:int" />
        <xs:element minOccurs="0" name="CSNo" type="xs:int" />
        <xs:element minOccurs="0" name="PaymentDetails" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DatePaid" type="xs:dateTime" />
        <xs:element minOccurs="0" name="PaymentPeriodCovered" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Check" type="xs:boolean" />
        <xs:element minOccurs="0" name="BillingDeduction" type="xs:boolean" />
        <xs:element minOccurs="0" name="CreditMemo" type="xs:boolean" />
        <xs:element minOccurs="0" name="SalaryDeduction" type="xs:boolean" />
        <xs:element minOccurs="0" name="Others" type="xs:boolean" />
        <xs:element minOccurs="0" name="OthersRemarks" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Status" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Set_ChargeSlip_BodyResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Set_ChargeSlip_Head">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CSNo" type="xs:int" />
        <xs:element minOccurs="0" name="SubjectName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AmountCharged" type="xs:decimal" />
        <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
        <xs:element minOccurs="0" name="PaymentPeriodFrom" type="xs:dateTime" />
        <xs:element minOccurs="0" name="PaymentPeriodTo" type="xs:dateTime" />
        <xs:element minOccurs="0" name="ChargeToToll" type="xs:boolean" />
        <xs:element minOccurs="0" name="ChargeToSupplier" type="xs:boolean" />
        <xs:element minOccurs="0" name="ChargeToFBCEmp" type="xs:boolean" />
        <xs:element minOccurs="0" name="ChargeToTrucking" type="xs:boolean" />
        <xs:element minOccurs="0" name="ChargeToADP" type="xs:boolean" />
        <xs:element minOccurs="0" name="ChargeToTDC" type="xs:boolean" />
        <xs:element minOccurs="0" name="QARR" type="xs:boolean" />
        <xs:element minOccurs="0" name="QARRNo" type="xs:int" />
        <xs:element minOccurs="0" name="LNCR" type="xs:boolean" />
        <xs:element minOccurs="0" name="LNCRNo" type="xs:int" />
        <xs:element minOccurs="0" name="TNCR" type="xs:boolean" />
        <xs:element minOccurs="0" name="TNCRNo" type="xs:int" />
        <xs:element minOccurs="0" name="NTE" type="xs:boolean" />
        <xs:element minOccurs="0" name="NTENo" type="xs:int" />
        <xs:element minOccurs="0" name="Others" type="xs:boolean" />
        <xs:element minOccurs="0" name="OthersRemarks" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PreparedByID" type="xs:int" />
        <xs:element minOccurs="0" name="PreparedByDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="NotedByID" type="xs:int" />
        <xs:element minOccurs="0" name="NotedByDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="ReceivedByID" type="xs:int" />
        <xs:element minOccurs="0" name="ReceivedByDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="LackOfAttachment" type="xs:boolean" />
        <xs:element minOccurs="0" name="ForInspection" type="xs:boolean" />
        <xs:element minOccurs="0" name="WithContention" type="xs:boolean" />
        <xs:element minOccurs="0" name="AuditOthers" type="xs:boolean" />
        <xs:element minOccurs="0" name="AuditOthersRemarks" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PaymentPendingUpdate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FinalResolution" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Status" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Set_ChargeSlip_HeadResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Set_Logistics_BodyReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LNCRBodyID" type="xs:int" />
        <xs:element minOccurs="0" name="LNCRHeadID" type="xs:int" />
        <xs:element minOccurs="0" name="DocumentReferenceNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ItemCustomer" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Quantity" type="xs:decimal" />
        <xs:element minOccurs="0" name="UnitOfMeasurement" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
        <xs:element minOccurs="0" name="Remarks" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Status" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Set_Logistics_BodyReportResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Set_Logistics_HeaderReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LNCRHeadID" type="xs:int" />
        <xs:element minOccurs="0" name="CompanyID" type="xs:int" />
        <xs:element minOccurs="0" name="SupplierID" type="xs:int" />
        <xs:element minOccurs="0" name="DriverName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Helper" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
        <xs:element minOccurs="0" name="ChargeSlipDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="TransactionDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
        <xs:element minOccurs="0" name="Category_Shortages" type="xs:boolean" />
        <xs:element minOccurs="0" name="Category_LateLiquidation" type="xs:boolean" />
        <xs:element minOccurs="0" name="Category_LateArrival" type="xs:boolean" />
        <xs:element minOccurs="0" name="Category_NoShow" type="xs:boolean" />
        <xs:element minOccurs="0" name="Category_LateDelivery" type="xs:boolean" />
        <xs:element minOccurs="0" name="Category_NonDelivery" type="xs:boolean" />
        <xs:element minOccurs="0" name="Category_QualityRelated" type="xs:boolean" />
        <xs:element minOccurs="0" name="Category_Others" type="xs:boolean" />
        <xs:element minOccurs="0" name="Category_OthersRemarks" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Penalty_WrittenWarning" type="xs:boolean" />
        <xs:element minOccurs="0" name="Penalty_Charge" type="xs:boolean" />
        <xs:element minOccurs="0" name="Penalty_Others" type="xs:boolean" />
        <xs:element minOccurs="0" name="Penalty_OthersRemarks" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PreparedBy" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AcknowledgeBy" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ApprovedBy" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Status" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Set_Logistics_HeaderReportResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Set_Cod">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CODID" type="xs:int" />
        <xs:element minOccurs="0" name="NTEID" type="xs:int" />
        <xs:element minOccurs="0" name="Sec" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Para" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Provision" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Status" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Set_CodResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Set_NoticeToExplain_Body">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OffenseID" type="xs:int" />
        <xs:element minOccurs="0" name="NTEID" type="xs:int" />
        <xs:element minOccurs="0" name="Details" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Status" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Set_NoticeToExplain_BodyResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Set_NoticeToExplain_Head">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NTEID" type="xs:int" />
        <xs:element minOccurs="0" name="CompanyID" type="xs:int" />
        <xs:element minOccurs="0" name="DATE" type="xs:dateTime" />
        <xs:element minOccurs="0" name="EmployeeName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Subject" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IncidentDateTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="IncidentSuspensionDays" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Remarks" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Status" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Set_NoticeToExplain_HeadResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Set_Qa_Report">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QARRID" type="xs:int" />
        <xs:element minOccurs="0" name="CompanyID" type="xs:int" />
        <xs:element minOccurs="0" name="ReferenceCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ReferenceDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="IssuedTo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SupplierID" type="xs:int" />
        <xs:element minOccurs="0" name="Department" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="InitiatedBy" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NotedBy" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Subject" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Type_Legal" type="xs:boolean" />
        <xs:element minOccurs="0" name="Type_Product" type="xs:boolean" />
        <xs:element minOccurs="0" name="Type_Procedure" type="xs:boolean" />
        <xs:element minOccurs="0" name="Type_StructuralAndSanitation" type="xs:boolean" />
        <xs:element minOccurs="0" name="Type_Other" type="xs:boolean" />
        <xs:element minOccurs="0" name="Type_OtherRemarks" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NC_SupplierServiceProvider" type="xs:boolean" />
        <xs:element minOccurs="0" name="NC_FBC" type="xs:boolean" />
        <xs:element minOccurs="0" name="NC_Toll" type="xs:boolean" />
        <xs:element minOccurs="0" name="NC_ADP" type="xs:boolean" />
        <xs:element minOccurs="0" name="NC_Trucker" type="xs:boolean" />
        <xs:element minOccurs="0" name="NC_Other" type="xs:boolean" />
        <xs:element minOccurs="0" name="NC_OtherRemarks" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SummaryReport" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
        <xs:element minOccurs="0" name="Status" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Set_Qa_ReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Set_Qa_ReportResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Set_Qa_Report_Imglnk">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ImgID" type="xs:int" />
        <xs:element minOccurs="0" name="QARRID" type="xs:int" />
        <xs:element minOccurs="0" name="ImgLnk" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FileDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="Status" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Set_Qa_Report_ImglnkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>